<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/bogda/IdeaProjects/myProject/src/test/resources" parallel="methods">
        <classes>
            <class name="tests.loginValidation.LoginValidationTest"/>
            <class name="tests.myAccount.MyAccountViewEditValidationTest"/>
        </classes>
    </test>
</suite>